* {
    margin: 0;
    padding: 0;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#controls > * {
    margin: 5px;
}

#controls button {
    padding: 5px;
}

#canvas {

}
